*, *::before, *::after { 
	box-sizing: border-box;
}

html {
	font-size: 10px
}

body {
	padding: 0;
	margin: 0;
	background-color: #F8F3E2;
	font-family: sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;	
}

::-moz-selection { 
    color: #B51515;
  	background: #E3B22999;
}

::selection {
 	color: #B51515;
  	background: #E3B22999;
}

a {
	color: #000000;
	text-decoration: none;
}

time {
	font-size: 1.4rem;
}
	
i {
	padding: 10px;
	font-size: 2.2rem;
}
	
i:hover {
	color: #B51515;
}

.icon-animation { 
	transition: all .2s ease-in-out; 
}

.icon-animation:hover { 
	transform: scale(1.5); 
}

.button-animation { 
	transition: all .5s ease-in-out; 	
}

.button-animation:hover { 
	transform: scale(1.2) rotate(5deg);
}


h1 {
	font-size: 9.5rem;
  	font-family: 'Baumans', cursive;
	line-height: 0;
	display: none;
}

h2 {
	color: #B51515;
	font-size: 9.5rem;
  	font-family: 'Baumans', cursive;
	line-height: 0;
	display: none;
}

h3 {
	font-size: 4rem;
	font-family: 'Baumans', cursive;
	line-height: 0.3;
}

p {
	  line-height: 1.4;
	  font-size: 1.4rem;
}

img {
	width: 100%; 
	min-width: 0px
}

nav {
	font-family: 'Quicksand', sans-serif;
	border-bottom: 2px solid black;
	height: 3rem;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.section-heading {
	font-family: 'Quicksand', sans-serif;
	border-bottom: 2px solid black;
	height: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 1.5rem;
	margin-right: 1.5rem;       
}

.jumbotron {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;	
	align-items: center;
	margin-top: 14vh;
	margin-bottom: 7vh;
}

.site-heading {
	width: 70vw;
}

.call-to-action {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 30vw;
	margin-right: 30vw;
	text-align: right;
}

.call-to-action-button, .call-to-action-sub {
	width: 170px;
	padding-right: 10px;
	padding-left: 10px;
}
	
.call-to-action-q {
	font-family: 'MuseoModerno', cursive;
	font-weight: 400;
	line-height: 0;
	padding-right: 10px;
	padding-left: 10px;
}

.call-to-action-end {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 250px;
	margin-top: 250px;
	margin-left: 30vw;
	margin-right: 30vw;
}

.social-sidebar {
	display: flex;
	flex-direction: column;	
	flex-wrap: nowrap;
	position: fixed;
	top: 40vh;
	right: 5px;	
}

.about {
	height: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 100px;
	margin-right: 100px;
}

.my-mugshot {
	z-index: 1;
	border-radius: 50%;
	max-width: 280px;
	max-height: 280px;
}

.about-image {
	padding-right: 40px;
	padding-left: 40px;
}

.folio-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: space-around;
	margin-left: 250px;
	margin-right: 250px;
	margin-top: 120px;
	margin-bottom: 120px;	
	text-align: center;			
}

.item-description {
	font-size: 1.4rem;
	font-style: italic;
}

footer {
	font-family: 'Quicksand', sans-serif;
	border-top: 2px solid black;
	height: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}


@media only screen and (min-width: 001px) and (max-width: 600px) {
	
	.jumbotron {
		margin-top: 250px;
		margin-bottom: 250px;
	}
	
	.call-to-action {
		margin-top: 250px;
		margin-bottom: 250px;
	}
	
	.folio-container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: space-around;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 50px;
		margin-bottom: 50px;	
		text-align: center;			
	}
	
	.site-heading {
		width: 85vw;
	}
	
	p {
		font-size: 1.5rem;
	}
	
	time { 
		font-size: 1.5rem;
	}
	
	.my-mugshot {
		z-index: 1;
		border-radius: 50%;
		width: 150px;
		height: 150px;
	}
	
	.about {
		height: 700px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.about-image {
		padding-right: 30px;
		padding-left: 30px;
	}
	
	.call-to-action-q {
		font-size: 2.4rem;
		
	}

	.call-to-action-button {
		width: 100px;
	}
	
	.call-to-action {
		margin-left: 20vw;
		margin-right: 20vw;
		text-align: right;
	}
	
	i {
		font-size: 2rem;
	}
	
	.non-mobile {
		display: none;
	}
	
}

@media only screen and (min-width: 600px) and (max-width: 992px){

	.jumbotron {
		margin-top: 250px;
		margin-bottom: 250px;
	}
	
	.call-to-action {
		margin-top: 250px;
		margin-bottom: 250px;
	}
	
	.folio-container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: space-around;
		margin-left: 100px;
		margin-right: 100px;
		margin-top: 100px;
		margin-bottom: 100px;	
		text-align: center;			
	}
	
	.about {
		height: 700px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.about-image {
		padding-right: 30px;
		padding-left: 30px;
	}
		
	.call-to-action-q {
		font-size: 2.4rem;	
	}

	.call-to-action-button {
		width: 120px;
	}
	
	.call-to-action {
		margin-left: 25vw;
		margin-right: 25vw;
		text-align: right;
	}
	
	.my-mugshot {
		z-index: 1;
		border-radius: 50%;
		width: 150px;
		height: 150px;
	}
	
	p {
		font-size: 1.5rem;
	}
	
	time { 
		font-size: 1.5rem;
	}
	
	.non-mobile {
		display: none;
	}
	
	i {
		font-size: 2rem;
	}

}



@media only screen and (min-width: 992px) and (max-width: 1200px){
	
	.folio-container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: space-around;
		margin-left: 200px;
		margin-right: 200px;
		margin-top: 100px;
		margin-bottom: 100px;	
		text-align: center;			
	}

}




