*, *::before, *::after { 
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: #F8F3E2;
}

nav {
	border: 1px solid black;
	height: 35px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

.jumbotron {
	height: 45vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	padding-left: 15vw;
}

.cta {
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	margin-left: 15vw;
	margin-right: 15vw;
}

.cta-left {
}

.social-sidebar {
	display: flex;
	flex-direction: column;	
	flex-wrap: nowrap;
	position: fixed;
	top: 45vh;
	right: 5px;	
}

.about {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	margin-left: 15vw;
	margin-right: 15vw;
}

div {
	border: 1px solid black;
}

section {
	border: 1px solid black;
}

footer {
	border-top: 1px solid black;
	height: 35px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding-left: 5px;
	padding-right: 5px;
}

.fab {
	padding: 10px;
	font-size: 18px;
}
